/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 30px;*/
  /*padding: 10px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/

/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: sans-serif;*/
/*}*/

.left-half {
  position: absolute;
  left: 0px;
  width: 40%;
}

.right-half {
  position: absolute;
  right: 0px;
  width: 60%;
}

.buttons {
  margin-top: 50px;
  margin-left: 150px;
  float: left
}

.button {
  margin-right: 20px;
}

.setting, .setting-group .ant-input-group-wrapper {
  width: 100%;
  margin-bottom: 30px;
}

.setting-group {
  margin-top: 7vw;
}

.header-text {
  color: white;
  font-size: 20px;
}
