.cell {
    /*background-color: aqua;*/
    width: calc(6.66666666667% - 2px);
    height: 5%;
    /*padding-bottom: 12.5%;*/
    float: left;
    position: relative;
    border: solid 1px black;
    border-radius: 3px;
}

.cell.blocked {
    background-color: red;
}

.cell.empty {
    background-color: aqua;
}
