.cell {
  width: calc(6.66666666667%);
  height: calc(5%);
  float: left;
  position: relative;
  border: solid 1px black;
  border-radius: 3px;
  box-sizing: inherit;
}

.cell.blocked {
  background-color: #F7CA18;
}

.cell.empty {
  background-color: #00b894;
}

.cell.path {
  background-color: #0984e3;
}

.cell.waypoint {
  background-color: #d63031;
}
