.setting, .setting-group .ant-input-group-wrapper, .setting-group .ant-radio-group {
  width: 100%;
  margin-bottom: 30px;
}

.setting-group .explore {
  margin-top: 5vw;
}

.setting-group .shortestpath {
  margin-top: 5vw;
}

.setting-group .ant-radio-button-wrapper {
  width: 50%;
  text-align: center;
}